#!/usr/bin/env bash

set -e

_DIR=`pwd`

export PATH="$_DIR/.direnv/bin:$PATH"
export PYTHONPATH="$_DIR/.direnv/py:$PYTHONPATH"

if ! hash xonsh 2>/dev/null ; then
pip3 install xonsh
fi

if [ ! -e "./.gitmodules" ]; then
$_DIR/.direnv/sh/init.py
./sync.sh
fi

